@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/*
#0D0D0D
#0597F2
#034C8C
#0583F2
#056CF2

https://color.adobe.com/pt/trends/Graphic-design?page=4
*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #9c9999;
    font-family: 'Montserrat', sans-serif;
}

#corpo{
    width: 60%;
    background-color: #0D0D0D;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
    margin: auto;
    padding: 0px 20px 20px 20px;
    margin-top: 20px;
}

header{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
}

header img{
    display: block;
    width: 35%;
    min-width:200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

main{
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main img{
    margin-bottom: 20px;
    width: 20%;
    min-width: 150px;
    display: block;
    border-radius: 360px;
    border: 2px solid #056CF2;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.404);
    transition-duration: 0.8s;
}

main h1{
    color: white;
    font-size: 2em;
    font-weight: 900;
    text-shadow: inset -1px -1px rgba(0, 0, 0, 0.377);
}

main h2{
    color: #0597F2;
    font-size: 1em;
    font-weight: 500;
}

nav{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

nav .botao{
    background-color: #056CF2;
    border-radius: 10px 10px 10px 5px;
    box-shadow: inset -3px -4px rgba(0, 0, 0, 0.404);
    width: 120px;
    padding: 12px;
    transition-duration: 0.9s;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

nav .botao:hover{
    background-color: #034C8C;
    padding: 15px;
}


nav a{
    text-decoration: none;
    color: white;
    text-shadow: inset -1px -1px rgba(0, 0, 0, 0.377);
}

footer{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 10px;
}

footer h2{
    color: white;
    font-size: 1em;
    text-shadow: inset -1px -1px rgba(0, 0, 0, 0.377);
}